/* A utiliser
font-family: 'Work Sans', sans-serif; */

/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.containLogo {
  height: 90px;
  border: 1px solid dark;
}

.bg-mat {
  background-image: url('../img-julie/mat.png');
  background-size: contain;
  height: 100px;
  width: 100px;
  z-index: 2;
}
.bg-power {
  background-image: url('../img-julie/power.png');
  background-size: contain;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.rotate {
  animation: rotation 8s infinite linear;
}
.norotate {
  animation: rotationInverse 8s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotationInverse {
  0% {
    transform: rotate(359deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
p:hover {
  background-color: #fff;
  border-radius: 3px;
}
html {
  font-size: 62.5%;
}

.html {
  --gradient: linear-gradient(
    rgb(8, 206, 255),
    rgba(189, 216, 209, 0.842),
    rgb(8, 245, 233),
    rgba(88, 169, 189, 0.89),
    rgba(189, 216, 209, 0.842)
  );

  background: linear-gradient(90deg, #38b5ba 0%, #3f5efb 100%);
  /* background:  #3F5EFB ;  */

  --shadow: linear-gradient(
    rgba(189, 183, 183, 0.596),
    rgba(39, 37, 37, 0.959)
  );
  --primary: rgba(163, 49, 49, 0.794);
  --secondary: rgba(170, 166, 166, 0.918);
  --dark: rgba(10, 10, 10, 0.952);
  --whitesweet: rgba(255, 255, 255, 0.911);
  /* background: var(--gradient); */
}

h1,
h2,
h3,
h4 {
  padding-top: 1rem;
}

h2 {
  font-size: xx-large;
  color: white;
  font-weight: 900;
  font-size: 4rem;
}
/* utility */

.containers {
  display: block;
  margin: auto;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
/* .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

.btn-container {
  /* margin-top: 5.5rem; */
  margin: 2rem;
}

.btn {
  background: linear-gradient(90deg, #3f5efb 0%, #38b5ba 100%);
  color: white;
  font-size: 2rem;
  border-radius: 50px;
}

.btn:hover {
  background: linear-gradient(90deg, #38b5ba 0%, #3f5efb 100%);
  color: white;
}

/*---------- header construction------- */
.vp-contain-header {
  display: flex;
  flex-direction: row nowrap;
}
span {
  letter-spacing: 10px;
  padding: 5rem 0;
  text-align: center;
  font-size: 5rem;
  font-family: 'Work Sans', sans-serif;
  color: rgb(252, 249, 249);
}

.header-h1 {
  margin: 0 auto;
  font-size: 5rem;
  text-transform: uppercase;
}
/* header img {
  max-width: 100px;
} */
.header-nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
  position: sticky;
  top: 0;
  background: linear-gradient(90deg, #3f5efb 0%, #38b5ba 100%);
  z-index: 1;
  padding: auto;
  /* margin-top: 10px; */
}
.header-a {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.leader-space {
  margin-left: 1rem;
}
nav a:hover {
  color: #38b2bc;
  padding: auto;
  font-weight: bold;
  /* font-size: 2rem; */
}
.nav-language {
  width: 3rem;
  margin: 0.7rem 0.2rem;
}

/*--------- carousel at the table--------- */

.containerss-btn {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
}
/* .btn-plus{
  border: 2px solid red;
  border-radius: 5px;
  width: 10rem;
  text-align: center;
} */
.main-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  min-height: 90vh;
  background-image: url(../img-julie/60+.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 10rem;
}

.main-img-container {
  text-align: center;
  /* max-width: 500px; */
}

.main-em {
  font-size: 5rem;
  color: #38b2bc;
  letter-spacing: 10px;
}
.main-pshape {
  line-height: 5rem;
  padding: 5rem 5rem;
}
.main-text:hover {
  color: #000;
  border-radius: 8px;
}

.main-btn-shape {
  margin: 0 auto;
  padding: 0 0.8rem;
  border-radius: 20px;
  border: 0;
  text-transform: capitalize;
  background-color: #000;
}
.table-btn-font {
  color: rgb(250, 246, 246);
  font-weight: bold;
  font-size: x-large;
}
.table-btn-font:hover {
  color: rgb(12, 12, 12);
  font-size: x-large;
}
.main-btn-shape:hover {
  background-color: rgb(255, 250, 250);
}
/*--------------- Video index presentation--------- */

.video-contain{
  margin: 1px auto;
}

/*------------------ MAKE A TEAM SMARTER------------- */

.team-contain {
  display: flex;
  flex-flow: column nowrap;
}
.title-team {
  text-align: center;
}
.underline {
  width: 50%;
  margin: 1rem auto;
  height: 2.2px;
  background-color: rgb(47, 172, 230);
}
.team-contain p {
  color: var(--dark);
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  margin: 0 1rem;
  padding: 10px;
  /* text-align: center; */
}
.team-center {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
/*---------- section what julie give---------- */
.vp-contain-team {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2rem;
}

.vp-team-img {
  flex: 1;
  background: url(../img-julie/speaking\ team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.team-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid #333; */
  font-size: 2rem;
  padding: 1rem;
  flex: 1;
}
.exp-julie-team {
  color: rgb(26, 25, 25);
  text-align: center;
  font-size: 4rem;
  padding: 0 0 5rem 0;
}
.vp-contain-team p {
  line-height: 3rem;
  text-align: center;
}
.exp-julie-team-h3 {
  color: rgb(20, 20, 20);
  text-align: center;
}

/*------------- setcion 3 images-------------------- */

.vp-offer {
  margin: 0;
  padding: 2rem 1rem;
}

.offer-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1;
}

.offer-list-shadow {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  /* background-color: #3ffb65; */
}
.offer-element {
  /* width: 100%; */
  padding: 0.5rem;
  /* background-color: rgb(247, 243, 243); */
  text-align: center;
  flex: 1;
  margin: 1rem;
}
ul {
  padding: 0;
}

.offer-element-image {
  border-radius: 0.5rem;
  /* margin: 0 auto; */
  width: 100%;
}
.offer-list {
  margin: 0.2rem;
  flex: 1;
}
.offer-separateur {
  width: 15rem;
  margin: 0.5rem auto;
  height: 1px;
  background-color: rgb(113, 193, 8);
}
/* section div ul li h3 {
  margin: 0 0 2rem 0;
  color: var(--dark);
  font-size: 50rem;
  font-family: 'Work Sans', sans-serif;
}

section div ul li h3:hover {
  color: var(--whitesweet);
  opacity: 0.8px;
  cursor: pointer;
} */
.offer-p-elem {
  color: var(--dark);
  font-size: 2rem;
  margin: 1rem auto;
  font-weight: 700;
  /* font-family: 'Work Sans', sans-serif; */
}
.offer-p-elem-t {
  text-transform: capitalize;
  color: var(--dark);
  font-size: 2.5rem;
  font-weight: 700;
  /* font-family: 'Work Sans', sans-serif; */
}
.btn-place {
  display: block;
  /* flex-flow: column; */
  justify-content: center;
}

/*------------------image hello team--------------*/

.container-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 5rem;
  /* line-height: 5px; */
}

.container-text h3 {
  font-size: x-large;
  color: rgb(14, 13, 13);
  font-size: 3.5rem;
}
.container-text-font {
  margin-top: 1rem;
  font-size: 2rem;
}

.hello-team-text-contain {
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--dark);
  line-height: 15px;
  flex: 1;
}

.img-hello-team {
  display: flex;
  width: auto;
  margin: 2rem auto;
  border-radius: 8px;
}

.hello-team-h3 {
  font-size: 3rem;
  line-height: 35px;
  margin-bottom: 2rem;
}
.hello-team-p {
  margin: 0 auto;
  max-width: 800px;
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 2px;
}

/* company around the world */
.contain-company {
  margin: 5rem 0.1rem 0 0.1rem;
}

/*----------------- partie des logos---------------- */

.contain-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  margin: 5rem auto;
  width: 100%;
  height: 80vh;
  background-color: #fff;
}
.contain-logo h3 {
  font-size: 3rem;
  text-transform: capitalize;
}
.contain-logo-image {
  display: block;
  flex-flow: column nowrap;
  text-align: center;
  background-color: #fff;
}
.shape-logo {
  margin: 2rem;
  max-height: 15rem;
}
.offer-separateur-h3 {
  height: 2px;
  width: 20%;
  margin: 3px 0;
  background-color: #333;
}

/*-------------- they speaks about julie-------------------- */
.speaks-placement {
  margin: 1rem auto;
  padding: 3rem;
  box-shadow: #042c2c 5% top;
}

.contain-speaks {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  max-width: 50%;
  border-radius: 50px;
}
.speaks-img {
  width: 80px;
  margin: 2rem auto;
}
.speaks-font {
  font-family: 'Work Sans', sans-serif;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

/*----------------- footer--------------------- */

footer .footer-img {
  padding: 5rem 0;
  text-align: center;
  font-size: large;
}
.footer-index-img {
  display: block;
  margin: 5rem auto 0;
  width: 3%;
}
/* img {
  background-image: rgb(236, 15, 217);
} */
.contain-foot-img {
  margin: 6rem 1rem 1rem 6rem;
  text-align: center;
}
.footer-p {
  text-align: center;
  font-size: 2rem;
}
