/* header + nav*/
.containers {
  display: block;
  margin: auto;
  padding: 0;
}
h2 {
  font-size: small;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

/* logo */
.containlogo {
  height: 2rem;
  width: 10px;
}
.vp-contain-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
}
.header-h1 {
  margin: 0 auto;
  font-size: 2rem;
  text-transform: uppercase;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  background: linear-gradient(90deg, #3f5efb 0%, #38b5ba 100%);
  z-index: 1;
  padding: auto;
}
.back-space-nav{
  padding: 0rem !important;
}
.bg-mat {
  background-image: url('../img-julie/mat.png');
  background-size: contain;
  height: 50px;
  width: 50px;
  z-index: 2;
}
.bg-power {
  background-image: url('../img-julie/power.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  z-index: 1;
}
.rotate {
  animation: rotation 10s infinite linear;
}
.norotate {
  animation: rotationInverse 10s infinite linear;
}
.size-responsive {
  min-width: 2rem;
}
@keyframes rotation {
  5% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotationInverse {
  5% {
    transform: rotate(359deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
h1,
h2,
h3,
h4 {
  padding-top: 0.5rem;
}
h2 {
  font-size: xx-large;
  color: white;
  font-weight: 900;
  font-size: 2rem;
}
span.team-log {
  letter-spacing: 5px;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  color: rgb(252, 249, 249);
}
.main-em {
  font-size: 2rem;
  color: #38b2bc;
  letter-spacing: 5px;
}

.header-nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background: linear-gradient(90deg, #3f5efb 0%, #38b5ba 100%);
  z-index: 1;
  /* padding: auto; */
}
.header-a {
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.leader-space {
  margin-left: 1rem;
}
.nav-language {
  width: 2rem;
  margin: 0.7rem 0.2rem;
}

/* carousel at the table */

/*------------------ MAKE A TEAM SMARTER------------- */

.team-contain {
  display: block;
  flex-flow: column wrap;
}
.team-center {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
}

.underline {
  width: 50%;
  margin: 1rem auto;
  height: 2.2px;
  background-color: rgb(47, 172, 230);
}
/*------- setcion 3 images ---------*/
.offer-container {
  display: block;
  flex-flow: row nowrap;
}
.offer-element-image {
  border-radius: 0.2rem;
  margin: 0;
  width: 98%;
}
.offer-list {
  margin: 0.4rem;
  flex: 1;
}
ul {
  padding-left: 0;
}

/*------ image hello team--------- */

.img-hello-team {
  display: flex;
  width: 100%;
  margin: 2rem auto;
  border-radius: 8px;
}
.container-text h3 {
  text-align: center;
  font-size: 3.5rem;
}
.container-text-font {
  font-weight: bold;
}
.hello-team-h3 {
  font-size: 2.5rem;
  line-height: 35px;
  margin-bottom: 2rem;
  font-weight: bold;
}
.hello-team-p {
  margin: 0 auto;
  max-width: 500px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 35px;
  letter-spacing: 1px;
}
/*--------- partie des logos--------- */

.contain-logo {
  display: block;
  flex-direction: column;
  width: 100%;
  height: 250vh;
  align-items: center;
  padding-top: 2rem;
  /* background-color: #fff; */
}
.contain-logo h3 {
  text-align: center;
  font-size: 2rem;
}
.offer-separateur-h3 {
  height: 2px;
  width: 30%;
  margin: 3px auto;
  background-color: #333;
}
.contain-logo-image {
  display: block;
  flex-flow: column wrap;
  text-align: center;
}
.shape-logo {
  margin: 2.5rem;
  max-height: 15rem;
}
/* --------julie history--------- */
.about-julie-title {
  text-align: center;
  margin-top: 0rem;
  font-size: 3rem;
}
.hitory-contain {
  margin: 0;
  display: block;
  flex-flow: column wrap;
}
.img-julie-container {
  display: block;
  flex-direction: column;
}
