/* generic */
*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Beau Rivage', cursive, sans-serif;
}
root{
  font-size: 62.5%;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}
h1,
h2,
h3 {
  margin-bottom: 1rem;
}


/* header */

.header-container{
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(168, 190, 43), 60%, rgb(0, 204, 255));
  justify-content: space-evenly;
  
}
.header-title{
  font-size: 2.5rem;
  color: #2e38caad;
  justify-content: flex-end;
  align-content: flex-start;
  text-transform: capitalize;
  text-align: center;
}

 .header-img-team{
  display: flex;
  flex-direction: row;
  width: 150px;
  background-image: url(../img-julie/julie\ photo\ teamulator.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 90px;
  margin: 1rem;
}

 h2 p{
  color: beige;
}

.header-content-nav{
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
}
li{
  padding: 0.5rem;
  margin: 1rem;
  text-decoration: none;
  
}
ul li a{
  color: rgb(37, 46, 46);
  font-size: large;
  /* transition: all 0.5s ease, height; */
 
  
}
ul li a:hover{
  color: rgb(4, 17, 16);
  font-weight: 900;
  border: 0 solid rgb(90, 79, 79);
  background: linear-gradient(rgb(117, 110, 110),rgb(237, 242, 243));
  border-radius: 10px;
  padding: 2px;
}
/* section image */

.img-contain{
  background-image: url(../img-julie/julie\ background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}  
